@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@300&family=Ubuntu&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dl1
{
    background-image: linear-gradient(to top right,rgb(31, 29, 29),rgb(36, 49, 61));
    background-size: cover;
    height:100vh;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
}
.loginp1
{
   margin-top:100px;
   height: 8%;
   background-color: rgb(195, 236, 247);
   border-radius: 50%;
   margin-bottom:30px;
}
.loginp1:hover
{
    transform: scale(1.2);
}
.spl1
{
    font-size:32px;
    font-family: 'Poppins',sans-serif;
    text-shadow: 5px 5px 10px gray;
}
.dl2
{
    margin: auto;
    width: 10%;
    border: 2px solid ivory;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    transition: width 3s;
}
.spl1:hover~.dl2
{
    width: 30%;
}
form
{
    margin: auto;
    margin-top: 40px;
    width: 28%;
    text-align: left;
    border: 1px solid rgb(88, 87, 87);
    border-radius: 20px;
    font-family: 'Poppins',sans-serif;
    font-size:1.1em;
    padding: 18px;
    padding-left: 16px;
    padding-right: 16px;
}
.inl1
{
    margin-top: 10px;
    margin-bottom:12px;
    background-color: transparent;
    height: 4.5vh;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(88, 87, 87);
    padding-left: 12px;
    color: whitesmoke;
    font-family: 'Poppins',sans-serif;
    font-size: 1em;
}
form a:hover
{
    color: rgb(117, 117, 89);
}
.btnl1
{
    margin-top:15px;
    margin-bottom: 1.5vh;
    background-color: gray;
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgb(88, 87, 87);
    height:4vh;
    color: whitesmoke;
    font-family: 'Poppins',sans-serif;
    font-size: 1em;
}
.btnl1:hover
{
    background-color: transparent;
}
@media screen and (max-width:480px)
{
    .loginp1
    {
        margin-top: 45px;
        margin-bottom: 35px;
    }
    form
    {
        margin-top: 60px;
        width: 75%;
    }
}
@media screen and (max-height:420px)
{
    .dl1
    {
        height: 100%;
    }
    .loginp1
    {
        width:6%;
        margin-top:14px;
        margin-bottom: 15px;
    }
    form
    {
        margin-top: 30px;
        width: 50%;
    }
    .inl1
    {
        height: 3%;
    }
    .btnl1
    {
        height: 3%;
    }
}