@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Poppins:wght@300&family=Ubuntu&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    list-style: none;

}

/* For first section sub heading */
.small{
    font-style: italic;
    color: aliceblue;
    font-size: 18px;
}

/* For first section blog heading */
.textbig{
    
    /* font-size: 3vw; */
    font-size: 40px;
    color: rgb(243, 196, 184);
    font-family: 'Ubuntu',sans-serif;
    
}

/* textbig with colour change to light -yellow */
.textbig_cchange{
    text-decoration: none;
    color: rgb(243, 196, 184);
    font-family: 'Ubuntu',sans-serif;

    /* font-size: 2.5vw; */
    /* font-size: 22px; */
    font-size: 28px;
    padding-bottom: 10px;
    padding-left: 10px;
    


}

/* Applied on Paras- About Section */
.section-text-small{
    text-align: center;
    font-size: 18px;

    font-family: "Poppins", sans-serif;
    color: aliceblue;
    
}

.form1error, .form2error{
    color: red;
    font-size: 15px;
    margin-left: 15px;
}

.top1
{
    display: flex;
    background-color: black;
    
    
}
.he1
{
    color:white;
    font-family:'Poppins', sans-serif;
    font-size:55px;
    padding-top:10px;
    width: 80%;
    text-align: center;
    /* padding-left: 500px;
    padding-right:415px; */
    margin-left: 3vw;
    margin-right: 3vw;
    
}
.headerpng{
    z-index: 2;
    position:sticky;
    top: 0;
    cursor: pointer;
    
}


.nav1
{
    display: flex;
    background-color: rgb(27, 27, 25);
    
    z-index: 2;
    
    width: 100%;
    /* position: sticky; */
    /* top: 0; */
    
    /* align-items: center; */
    /* justify-content: center; */
    /* position:sticky;
    top: 0;
    cursor: pointer; */
}
.head1
{
    font-family: 'Ubuntu',sans-serif;
    font-size:18px;
    color:whitesmoke;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 2;
    /* position:sticky; */
}
.in1
{
    background-color:rgb(73, 67, 73);
    font-family: 'Ubuntu',sans-serif;
    font-size:14px;
    border-radius:7px;
    border-width: 0;
    margin-left:auto;
    width:15%;
    height:25px;
    margin-top:2px;
    padding-left: 5px;
}

/* Navbar Search Button */

#navbar_searchbutton{
    margin-right: 5px;
    margin-left: auto;
}
.btn1
{
    border-radius:50%;
    margin-left: 3vw;
    background: url(../Image/Search12.png)no-repeat;
    background-size: 20px;
    background-color:rgb(73, 67, 73);
    background-position: center;
    height:4vh;
    width:2.5em;
    cursor: pointer;
    margin-top:1.5px;
    
}
.btn1:hover
{
    transform: scale(1.2);
}

.btn-dark{
    color: black;
    margin:0, auto;
    margin-left: 35%;
    padding-bottom:5px;
    border: 3px solid grey;
    width: 125px;
    height: 50px;
    border-radius: 14px;
    font-family: "Poppins" sans-serif;
    font-size: 25px;


}
.social_image_button:hover{
    transform: scale(1.05);   

}



    
    
    


.in1:hover
{
    transform: scale(1.05);
    background-color:rgb(175, 156, 175);
}
.head1:hover
{
    color:rgb(185, 160, 160);
    transform: scale(1.4);
}

/* Common Text patters used in the page  */

.text-secheading{
    text-align: center;
    padding: 25px;
    padding-top: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-size: 3.5vw;
    color: white;
    font-weight: bold;
    font-family: "Poppins", sans-serif;


    
    
    

}

.background_text-secheading{

    text-align: center;
    padding: 25px;
    padding-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5vw;
    color: ivory;
    opacity: 0.8;
    font-weight: bold;
    font-family: "Poppins", sans-serif;

}

body{
    background-image:linear-gradient(to top right,rgb(28, 30, 34) 45%,rgb(41, 67, 85),rgb(36, 54, 68));
    background-size:cover;
    background-attachment: fixed;  

}


.main_main{

    color: white;
    /* background-image: url(../Image/top1.jpg)rgb(45, 46, 45) no-repeat; */
    /* background: url(../Image/top1.jpg) no-repeat;; */
    /* background-image: url(../Image/top1.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-color: rgb(45, 46, 36);
    background-blend-mode: darken; */
    width: 100%;
    margin-bottom: -100px;
    
    
    

     
    
    
    /* No need to give height with background-attachment */
    

}

.main_main a{
    text-decoration: none;
}

/* First Section- Introducing ClubMeet */

.firstsection{
    /* height: 530px; */
    
    

}

.firsthalf .btn{
    border: 3px solid white;
    background-color: black;
    color: blanchedalmond;
    border-radius: 8px;
    
}
.box-main{
    height: 80% ;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    


}

.firsthalf{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    
    

}

/* .secondhalf{
    
    
} */

.secondhalf img{
    /* width: 250px; */
    width: 250px;
    height: 250px;

    border-radius: 20px;
    /* border: 2px solid #816344; */
    border: 2px solid yellow;

    display: block;
    
    margin: 2.0vw auto 30% 30px;
    box-shadow: rgb(126 98 72) 10px 10px 4px 0.01px;
}

/* About Section */

.secRight{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 90%;
    margin: 0 auto;


    

}

.paras{

    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    font-family: 'Poppins',sans-serif;
    /* font-size: 25px; */
    
    background-color: rgb(34, 32, 36);
    box-shadow: 16px 10px 14px rgb(5 5 5);
    opacity: 0.8;
    border-radius: 20px;
    height: fit-content;
    margin-top: 1vh;
}

.thumbnail img {
    width: 250px;
    border:2px solid white;
    border-radius: 26px;

}


.textbig_cchange:hover{
    
    color: rgb(211, 208, 208);
    font-size: 30px;
    
}



.textsmall_section{
    

}

.fake1{
    
    position: absolute;
    width: 800px;
    height: 800px;
    margin-left: 320px;
    /* background-color: #262020;
    filter: blur(1px);
    opacity: 0.5; */
    /* border-radius: 20px;
    border: 4px solid grey; */

    /* font-family: 'Poppins',sans-serif;
    font-size:25px;
    box-shadow: 16px 10px 14px rgb(20, 20, 20);
    background-color: rgb(65, 63, 63);
    opacity: 0.8;
    border-radius: 20px; */
}

.contactus{
    
    position: relative;
    /* left: 20.5%; */
    left: 24vw;
    /* only works with flex */
    /* align-content: center;
    justify-content: center; */ 
    /* padding-left: 60px; */
    /* width: 59vw;
    height: 85vh; */
    /* width: 52vw; */
    width: 52%;
    
    
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    background-color: rgb(34, 32, 36);
    box-shadow: 16px 10px 14px rgb(5 5 5);
    opacity: 0.8;
    border-radius: 20px;
    
    
}

/* .fake2{
    position: relative;
    top: 1010px;
    left: 320px;
    
    width: 800px;
    height: 800px;
    border:2px solid  green;
    background-color: greenyellow;
    
    

} */


.feedback{
    
    position: relative;
    top: 2em;
    justify-content: center;
    justify-content: center;
    border-radius: 20px;
    width: 52%;
    
    left: 24vw;

    font-family: 'Poppins',sans-serif;
    
    background-color: rgb(34, 32, 36);
    box-shadow: 16px 10px 14px rgb(5 5 5);
    opacity: 0.8;
    border-radius: 20px;

    /* position: absolute; */
  
    /* left: 24vw;
    align-content: center;
    justify-content: center;
  
    width: 52vw;
    height: 800px;
    
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    box-shadow: 16px 10px 14px rgb(20 20 20);
    background-color: rgb(65, 63, 63);
    opacity: 0.8;
    border-radius: 20px;
     */
    
}




.form{
    max-width: 500px;
    margin: 12px auto;
    padding: 15px 60px;
  
    

}

.textarea{

    

    padding: 5px 20px; 
    margin-left: 15px;
    
    
    font-family: "Poppins", sans-serif;
    font-style: italic;
    
    border: 2px solid rgb(202, 185, 185);

    border-radius: 20px;
    width: 100%;
    height: 30vh;
    /* padding-top: 10px;
    padding-right: 20px; */
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    
    
    
    
   

    
    
    
}



.form-input{
    /* width: 400px; */
    width: 100%;
    /* margin: 30px 0px; */
    margin-bottom:7vh;
    margin-left: 15px;
    padding: 5px 20px;
    /* font-size: 19px; */
    /* font-size: 1.25vw; */
    font-size: 18px;
    
    border: 2px solid rgb(202, 185, 185);
    border-radius: 10px;
    
    font-style: italic;

}

/* .techclubs{
    
    
    

} */
.alignflex1{
    display: flex;
}



.clubbanner{
    
    border: 3px solid grey;

    /* height: 44vh; */
    
   
    width: 50vw;
    background-image: url(../acm/acm1.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-left: 70px;
    box-shadow: 16px 10px 14px rgb(20, 20, 20);

    animation-name: animation_clubbanner;
    animation-duration:20s;
    animation-iteration-count: infinite;
    background-position: center;
   
    

}





@keyframes animation_clubbanner{

    0%{background-image: url(../acm/acm1.jpg);}
    25%{background-image: url(../gdsc/gdsc1.jpg);}
    75%{background-image: url(../ie/ie1.jpg);}
    100%{background-image: url(../ieee/ieee1.jpg);}
    
}

#clubbannerevent{
    animation-name: animation_clubbanner_event;
    animation-duration:20s;
    animation-iteration-count: infinite;
    background-position: center;



    
}

@keyframes animation_clubbanner_event{

    0%{background-image: url(../imagesEventclubs_bhangra/bhangra1.jpg);}
    25%{background-image: url(../imagesEventclubs_dhvani/dhvani1.jpg);}
    75%{background-image: url(../imagesEventclubs_literayllis/literallis1.jpg);}
    100%{background-image: url(../imagesEventclubs_tasveer/tasveer1.jpg);}
    
}



.clubdescription{
   
    


    /* height: 44vh; */
    width: 30vw;
    color: white;
    margin-left: 18vw;
    margin-right: 5vw;
    border-style: solid;
    border-width: 0px;
    padding-left: 20px;
    padding-top: 10px;
    
    border-radius: 20px;
    opacity: 0.8;
    background-color: rgb(34, 32, 36);
    box-shadow: 16px 10px 14px rgb(5 5 5);
    
}

.clubdescription_flex{
    
    
}

    
    



.clubdescription .textbig{
    text-align: center;
}

.clubnames{
    background-color: rgb(34, 32, 36);
    box-shadow: 16px 10px 14px rgb(5 5 5);
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    border-style: solid;
    border-width: 0px;
    opacity: 0.8;
    border-radius: 20px;
    padding: 20px;
    margin-left: 4.75%;
    margin-top: 2.5%;
    text-align: center;
    /* height: 15vw; */
    width: 90%;
    margin-bottom: 3vh;
    /* left and right: vw
    top and bottom: vh */
    
    
    
}

.clubnames_flex{
    display: flex;
    
    

}

.clubnames_list1{
    /* margin-left: 300px;
    margin-top: 20px; */
    
    
    margin: 0 auto;
    
}


.clubnames_list2{
    
    /* margin-left: 300px;
    margin-top: 20px; */
    
    
    margin: 0 auto;
   
    
}

/* footer css by Rishav */
.ftu1
{
    /* margin-bottom: 0px; */
    padding:28px;
    padding-top: 12px;
    /* margin-top:365px; */

    margin-top: 200px;
    /* height: 120px; */
    
    width: 100%;
    background-color: rgb(27, 27, 25);
    color: white;
    font-family: 'Poppins',sans-serif;
    opacity: 0.8;

}
.spf2
{
    color: rgb(231, 46, 14);
    font-size: 25px;
}
.uf1
{
    display: flex;
    margin-top: 10px;
    /* margin-left:150px; */
    margin-left: auto;
}
.adf
{
    margin-bottom: 6px;
    display: flex;
    
}
.uaf1
{
    text-decoration: none;
    color: rgb(196, 75, 86);
    font-size: 17px;
    margin-right: 50px;
}
.solo1
{
    background-color: rgb(218, 153, 144);
    border-radius:50%;
}
.solo2
{
    background-color: rgb(218, 153, 144);
    border-radius: 10px;
}

/* lower footer */
.dfl2
{
    margin-top: 7px;
    font-size: 11px;

    /* border -r */
    
}
.dfl2 a
{
    text-decoration: none;
    color: white;
    margin-left: 70px;
    
   

}

#tos{
    
}
.spf1
{
    
   
}
.cnt1
{
    padding-top: 5px;
    /* margin-left: 350px; */
    margin-left: auto;
}
.uaf1:hover
{
    color: rgb(122, 23, 23);
}

.burger{
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 35px;
    display: none;
    

}

.line{
    height: 5px;
    width: 30px;
    background-color: white;
    margin: 5px 3px;
    margin-left: auto;
    margin-right: auto;
    
}

.df1{

}

@media only screen and (max-width:764px)
{

    /* Different Texts Used */

    .background_text-secheading{
        font-size: 40px;
        
    }

    /* Different Buttons Used */

    /* Form Sumbit Button */

    .btn-dark{
        margin-left: 32%;
    }

    .top1{
        /* display: none; */
    }

    .text-secheading{
        font-size: 40px;
    }

    /* Blog Heading Text */
    .textbig{
        text-align: center;
    }
    .small{
        text-align: center;
    }
    /* Blog Sub Heading Text */
    /* Navigation Bar */
    .nav1{
        flex-direction: column;
        text-align: center;
        /* display: none; */
        /* height: fit-content; */
        width: 100%;
        height: 0;
        

    }

    .socialbuttons{
        text-align: center;
    }

    .hidelogo{
        z-index: -10;
    }

    /* Navigation Bar */
    .headerpng{
       
        
    }

    .h-nav{
        height: fit-content;
    }

    .head1{

    }

    #navbar_searchhere{

    }

    #navbar_searchbutton{
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 5px;

    }

    .in1{

        width: 120px;
        margin-left: auto;
        margin-right: auto;


    }

    .btn1{
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        width: 30px;
        border-radius: 50%
    }

    .burger{
        display: block;
    }

    .v-class-resp{
        opacity: 0;
    }

    /* First Section */

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .firsthalf{
        width: 80%;
        height: 40vh;
        position: relative;
        bottom: 30px;
    }

    .alignflex1{
        flex-direction: column;
        max-width: 100%;

        height: fit-content;
      
        
        
    }

    /* Tech Clubs */

    .clubbanner
    {
        width:80%;
        height:50vh;
        margin: 0 auto;
        
        

    }
    .clubdescription
    {
        width: 80%;
        text-align: center;
        height: fit-content;
        margin: 0 auto;
        margin-top: 25px;
        /* margin-right: 30px; */

    }

    .clubdescription_flex{
        margin-right: 22px;
    }

    .clubnames{
        height:fit-content;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25%;
    }

    .clubnames_flex{

    }

    /* About Section */

    .secRight{
        /* margin-top: 70px; */
        width: 80%;
        /* margin-bottom: 80px; */
        margin-top: 18%;
        margin-bottom: 25%;
        
    }
    .section-text-small{
        padding-left: 10px;
        padding-right: 10px;
    }

    .contactus{
        margin-top: 20%;
        width: 80%;
        left: 10.5%;

        
        
    }

    .feedback{
        margin-top: 35px;
        width: 80%;
        left: 10.5%;
    }

    /* Footer */

    

    .ftu1{
       

    }

    .uf1{
        flex-direction: column;
    }

    /* Lower footer */

    /* .dfl2{
        margin-left: 0;

    } */

    /* #tos{
        position: relative;
        right: 40px;

    }
    #privacy_policy{
        position: relative;
        right: 40px;
        
    } */

  
}